<div class="container" style="max-width: 800px;">
  <%= form_for(@user, :html => {class: "form-horizontal center"}) do |f| %>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.uniq.each do |msg| %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <div class="container" style="max-width: 480px;">
      <div class="form-group">
        <%= f.text_field :username, {class: 'form-control', placeholder: 'username'} %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, {class: 'form-control', placeholder: 'email'} %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, {class: 'form-control', placeholder: 'password'} %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, {class: 'form-control', placeholder: 'confirm password'} %>
      </div>
      <div>
        <%= f.submit(submit_text, {class: 'btn btn-primary'}) %>
      </div>
    <% end %>
  </div>
</div>
