<div class="container" style="max-width: 800px;">
  <%= render 'application/show_errors', error_messages: @user.errors.full_messages %>

  <%= form_for(@user, :html => {class: "form-horizontal center"}) do |f| %>
    <div class="container" style="max-width: 480px;">
      <div class="form-group">
        <%= f.text_field :username, {class: 'form-control', placeholder: 'username'} %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, {class: 'form-control', placeholder: 'email'} %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, {class: 'form-control', placeholder: 'password'} %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, {class: 'form-control', placeholder: 'confirm password'} %>
      </div>
      <div>
        <%= f.submit(submit_text, {class: 'btn btn-primary'}) %>
      </div>
    <% end %>
  </div>
</div>
