<section class="jumbotron text-center">
  <div class="container">

    <%# If there is an alert to display: %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <% if notice %>
      <div class="alert alert-primary" role="notice">
        <%= notice %>
      </div>
    <% end %>

    <h1 class="jumbotron-heading">Users</h1>

    <%# If User is logged in: %>
    <% if current_user %>
      <p class="lead text-muted">
        View the profiles of other lovely users.
      </p>
      <p>
        <%= link_to('View your profile', user_path(current_user), class: 'btn btn-lg btn-primary mt-3') %>
      </p>

    <%# If User is not logged in: %>
    <% else %>
      <p class="lead text-muted">
        All these people are sharing their memories.
      </p>
      <p>
        <%= link_to('Sign up to add your own', signup_path, class: 'btn btn-lg btn-primary mt-3') %>
      </p>
    <% end %>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <% @users.each do |user| %>
        <%= render 'users/card', user: user %>
      <% end %>

    </div>
  </div>
</div>
