<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @user.username %></h1>
    <p class="lead text-muted">Email: <strong><%= @user.email %></strong></p>
    <p class="lead text-muted">User since: <strong><%= @user.created_at.strftime('%Y-%m-%d') %></strong></p>

    <%# Only current user can edit or delete account info, or create new gallery %>
    <% if @owner %>
      <p>
        <%= link_to('Edit my information', edit_user_path(@user), class: 'btn btn-secondary') %>
        <%= link_to('Delete my account', user_path(@user), method: :delete, class: 'btn btn-danger', data: {confirm: "This will delete your entire account, including all galleries and images.\nAre you sure you want to do this?"})%>
      </p>
      <p>
        <%= link_to('Create new gallery', new_gallery_path, class: 'btn btn-secondary') %>
      </p>
    <% end %>

  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <h2 class="jumbotron-heading">Galleries</h2>

    <% if @user.galleries.empty? %>
      <% if @owner %>
        <p>You have not yet created any galleries. Why not <a href="<%= new_gallery_path %>">get started</a>?</p>
      <% else %>
        <p><%= @user.username %> has not yet created any galleries.</p>
      <% end %>
    <% end %>

    <div class="row">
      <% @user.galleries.each do |gallery| %>
        <%= render 'galleries/card', gallery: gallery %>
      <% end %>
    </div>

  </div>
</div>
