<section class="jumbotron text-center">
  <div class="container">

    <%# If there is an alert to display: %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <h1 class="jumbotron-heading"><%= @user.username %></h1>

    <% if @user.authorised?(current_user) %>
      <p class="lead text-muted">Email: <strong><%= @user.email %></strong></p>
      <div class="mb-3">
        <%= link_to('Edit my information', edit_user_path(@user), class: 'btn btn-secondary') %>
        <%= link_to('Delete my account', user_path(@user), method: :delete, class: 'btn btn-danger', data: {confirm: "This will delete your entire account, including all galleries and images.\nAre you sure you want to do this?"})%>
      </div>
    <% end %>

    <p class="lead text-muted">
      User since: <strong><%= @user.created_at.strftime('%Y-%m-%d') %></strong>
    </p>
    <p class="lead text-muted">
      <%= display_image_and_gallery_count(@user) %>
    </p>
    <% if @user.authorised?(current_user) %>
      <%= link_to('Create new gallery', new_gallery_path, class: 'btn btn-lg btn-primary mt-3') %>
    <% end %>

  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <h2 class="jumbotron-heading">Galleries</h2>

    <% if @user.galleries.empty? %>
      <% if @user.authorised?(current_user) %>
        <p>You have not yet created any galleries. Why not <a href="<%= new_gallery_path %>">get started</a>?</p>
      <% else %>
        <p><%= @user.username %> has not yet created any galleries.</p>
      <% end %>
    <% end %>

    <div class="row">
      <% @user.galleries.each do |gallery| %>
        <%= render 'galleries/card', gallery: gallery %>
      <% end %>
    </div>

  </div>
</div>
