<%#

Render a single gallery as a Bootstrap card.
Editing routes are only visible if the 'current_user' owns the gallery.

@param [Gallery] gallery
  The gallery to be displayed

%>
<div class="col-md-3">
  <div class="card mb-3 shadow-sm">
    <a href="<%= gallery_path(gallery) %>">

      <%# If gallery is empty, show a default image %>
      <% if gallery.images.empty? %>
        <%= render 'images/default_svg' %>

      <% else %>
        <img width="225" height="225" class="card-img-top" src="<%= url_for_thumbnail(gallery.images.first.file) %>">
      <% end %>

    </a>
    <div class="card-body">
      <p class="card-text"><%= gallery.name %></p>
      <div class="d-flex justify-content-between a.lign-items-center">
        <div class="btn-group">

          <%# Only gallery's owner can edit or delete gallery %>
          <% if gallery.user == current_user %>
            <%= link_to('View', gallery_path(gallery), class: 'btn btn-sm btn-outline-secondary')%>
            <%= link_to('Edit', edit_gallery_path(gallery), class: 'btn btn-sm btn-outline-secondary')%>
            <%= link_to('Delete', gallery_path(gallery), method: :delete, class: 'btn btn-sm btn-outline-secondary', data: {confirm: "This will delete the chosen gallery, including all images.\nAre you sure you want to do this?"})%>
          <% end %>

        </div>

        <% if gallery.user != current_user %>
          <small class="text-muted">
            by <%= link_to(gallery.user.username, user_path(gallery.user), class: 'text-muted')%>
          </small>
        <% end %>
      </div>
    </div>
  </div>
</div>
