<%#

Render a single gallery as a Bootstrap card.
Editing routes are only visible if the 'current_user' owns the gallery.

@param [Gallery] gallery
  The gallery to be displayed

%>
<div class="col-md-3">
  <div class="card mb-3 shadow-sm">
    <a href="<%= gallery_path(gallery) %>">

      <%# If gallery is empty, show a default image %>
      <% if gallery.images.empty? %>
        <svg width="225" height="225" class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" viewBox="-300 -300 600 600" xml:space="preserve" style='background-color: #55595c;'>
          <circle stroke="#AAA" stroke-width="10" r="260" fill="#FFF"/><text style="text-anchor:middle;text-align:center;fill:#55595c;font-size:360px;" transform="scale(.14)"><tspan y="-40" x="8">NO IMAGE</tspan><tspan y="400" x="8">AVAILABLE</tspan></text>
        </svg>

      <% else %>
        <img width="225" height="225" class="card-img-top" src="<%= url_for_thumbnail(gallery.images.first.file) %>">
      <% end %>

    </a>
    <div class="card-body">
      <p class="card-text"><%= gallery.name %></p>
      <div class="d-flex justify-content-between a.lign-items-center">
        <div class="btn-group">

          <%# Only gallery's owner can edit or delete gallery %>
          <% if gallery.user == current_user %>
            <%= link_to('View', gallery_path(gallery), class: 'btn btn-sm btn-outline-secondary')%>
            <%= link_to('Edit', edit_gallery_path(gallery), class: 'btn btn-sm btn-outline-secondary')%>
            <%= link_to('Delete', gallery_path(gallery), method: :delete, class: 'btn btn-sm btn-outline-secondary', data: {confirm: "This will delete the chosen gallery, including all images.\nAre you sure you want to do this?"})%>
          <% end %>

        </div>

        <% if gallery.user != current_user %>
          <small class="text-muted">
            by <%= link_to(gallery.user.username, user_path(gallery.user), class: 'text-muted')%>
          </small>
        <% end %>
      </div>
    </div>
  </div>
</div>
