<section class="jumbotron text-center">
  <div class="container">

    <%# If there is an alert to display: %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <% if notice %>
      <div class="alert alert-primary" role="notice">
        <%= notice %>
      </div>
    <% end %>

    <h1 class="jumbotron-heading">Galleries</h1>

    <%# If User is logged in: %>
    <% if current_user %>
      <p class="lead text-muted">
        Take a look at galleries by other awesome users.
      </p>
      <p>
        <%= link_to('Create new gallery', new_gallery_path, class: 'btn btn-lg btn-primary mt-3') %>
      </p>

    <%# If User is not logged in: %>
    <% else %>
      <p class="lead text-muted">
        All these people are sharing their memories.
      </p>
      <p>
        <%= link_to('Sign up to add your own', signup_path, class: 'btn btn-lg btn-primary mt-3') %>
      </p>
    <% end %>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <% if @galleries.empty? %>
        <p>There are no galleries yet.</p>

      <% else %>
        <% @galleries.each do |gallery| %>
          <%= render 'galleries/card', gallery: gallery %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
