<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @gallery.name %></h1>
    <p class="lead text-muted"><%= @gallery.description %></p>
    <p class="lead text-muted">by <%= link_to(@gallery.user.username, user_path(@gallery.user))%></p>
    <p class="lead text-muted">
      Gallery contains <strong><%= @gallery.images.count %></strong> <%= 'image'.pluralize(@images_count) %>
    </p>

    <%# Only current user can edit gallery %>
    <% if @owner %>
      <p>
        <%= link_to('Edit this gallery', edit_gallery_path(@gallery), class: 'btn btn-lg btn-primary mt-3') %>
      </p>
    <% end %>

  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <% if @gallery.images.empty? %>
      <% if @owner %>
        <p>There are no images in this gallery. Why not <a href="<%= edit_gallery_path(@gallery) %>">add some</a>?</p>
      <% else %>
        <p>There are no images in this gallery.</p>
      <% end %>
    <% end %>

    <div class="row">
      <% @gallery.images.each do |image| %>
        <%= render 'images/card', image: image %>
      <% end %>
    </div>

  </div>
</div>
