<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @image.gallery.name %></h1>
    <p class="lead text-muted">image added <strong><%= @image.created_at.strftime('%Y-%m-%d') %></strong></p>
    <p class="lead text-muted">by <%= link_to(@image.gallery.user.username, user_path(@image.gallery.user))%></p>

    <%= link_to('View gallery', gallery_path(@image.gallery), class: 'btn btn-lg btn-secondary mt-3') %>

    <% if @owner %>
      <p class="py-3">
        <%= link_to('Delete image', image_path(@image), method: :delete, class: 'btn btn-danger', data: {confirm: "This will delete the image from the server.\nAre you sure you want to do this?"})%>
      <p>
    <% end %>

  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% if @image.file.attached? && @image.file.attachment.blob.present? && @image.file.attachment.blob.persisted? %>
        <img src="<%= url_for(@image.file) %>" style="display:block;margin-left:auto;margin-right:auto;">
      <% end %>
    </div>
  </div>
</div>
